@media (max-width: 550px) {
  .hamburger-btn {
    display: block;
    height: 50px;
    width: 50px;
    border: none;
    background-color: pink;
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    transition: color 0.3s;
  }
  .main-header {
    background-color: pink;
    box-shadow: inset 0px -6px 0px pink;
  }

  .main-nav li > a {
    display: none;
  }

  .my-canvas {
    height: 400px;
  }
}
