.canvas-container{
  display: flex;
  justify-content: center;
}

.file-input ,.download{
  display: none;
  padding-top: 10px;
}

.editor-container {
  padding-top: 40px;
  width: 100%;
  display: none;
}

.editor {
  flex-direction: column;
  padding: 0 50px;
}

.editor input {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 25px;
}

.editor-options {
  margin-bottom: 20px;
}

.editor-options a {
  margin-inline-end: 10px;
}

.btn-option {
  padding: 5px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background-color: #c5c3c3;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.btn-option img {
  height: 30px;
  border: 1px solid #c5c3c3;

}

.editor-text-options {
  grid-template-columns: repeat(5, 60px);
  gap: 8px 8px;
  margin-bottom: 15px;
  justify-content: center;
}

.font-select {
  margin-top: 20px;
  grid-column: span 3;
  height: 25px;
}
