* {
    box-sizing: border-box;
}

body {
    margin: 0
}

img{
    height:8em;
    width:8em;
    border: 1px solid black;
}

.gallery-container{
    background-color: #c5c3c3;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}
