* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c5c3c3;
}

img {
  height: 100%;
  width: 100;
  border: 1px solid black;
}

.gallery-container {
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  padding: 16px;
  gap: 10px;
  width: 100%;
  grid-auto-flow: dense;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.meme-gallery img {
  width: 100%;
  border-radius: 6px;
}

.search-container{
  display: block;
}
